<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style type="text/css">

body{
    font-family: "Roboto Light", GillSans, Calibri, Trebuchet, sans-serif;
}

h1{
    font-family: "Roboto";
    padding:5px;
    text-align:center;
    background-color: #103A55;
    color: white;
}
 
div{
    display:flex;
    justify-content: center;
}
  
a{
    color: #EB6F5D;
    text-decoration: none;
}

a:hover{
    color: #103A55;
}
 
</style>
</head>
<body>

<div><h1>Winthrop Internship Learning Engagement</h1></div>

Dear {{ studentFName }},<br><br>You are receving this email because you have successfully submitted the first part of your Winthrop Internship Learning Agreement. To complete your next portion of the application please visit <a href='{{studentFormTwoURL}}'>{{ studentFormTwoURL}}</a>.<br><br>If you have any questions regarding the application, please contact Winthrop University's Center for Career and Civic engagement by phone at <a href='tel:1-803-323-2141'>(803)323-2141</a> or email at cce@winthrop.edu for assistance. <br><br> Sincerely, <br> Career & Civic Engagement<br> <a href='https://www.winthrop.edu/cce'>www.winthrop.edu/cce</a>

</body>
</html>