/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/node_modules/*
/vendor/
.bash_history
.bash_logout
.bashrc
.c9/
.cache/
.config/
.gitconfig
.local/
.mysql_history
.node-gyp/
.npm/
.nvm/
.profile
.ssh/
.sudo_as_admin_successful
.viminfo
.wget-hsts
composer.phar
index.html
server.py