#barbox_a {
    position: absolute;
    top: 130px;
    left: 50%;
    margin: 0px 0px 0px -160px;
    width: 304px;
    height: 24px;
    background-color: gray;
}
.per {
    position: absolute;
    top: 130px;
    font-size: 18px;
    left: 50%;
    margin: 1px 0px 0px 150px;
    background-color: #FFFFFF;
}

.bar {
    position: absolute;
    top: 132px;
    left: 50%;
    margin: 0px 0px 0px -158px;
    width: 0px;
    height: 20px;
    background-color: #27C515;
}

.blank {
    background-color: white;
    width: 300px;
}