{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Check Email{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="fosUserSuccess">
<p>
We just sent a message to the email you provided to reset your password. Please check your inbox and follow the instructions in the email.
{#{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}#}
</p>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/styles.css">
{% endblock %}
