{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Reset Password{% endblock %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
    <div>
        <input type="text" id="username" name="username" required="required" placeholder="Winthrop Username" />
    </div>
    <div>
        {#<input type="submit" value="{{ 'resetting.request.submit'|trans }}" />#}
        <input type="submit" value="Submit Request" />
    </div>
</form>


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/styles.css">
{% endblock %}
