{% extends 'layout.html.twig' %}

{% block body %}
<div class="index-background-image">
    <div class="transparent">
        <div class="center-text">
            <h1>321123</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{#<link rel="stylesheet" type="text/css" href="../web/css/main.css">#}
{% endblock %}