{% extends "@FOSUser/layout.html.twig" %}
{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="fosUserSuccess">
        <p>{{ 'Registration Confirmed'|trans({'%username%': user.username}) }}</p>
        {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'Back'|trans }}</a></p>
        {% endif %}
{% endblock fos_user_content %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/styles.css">
{% endblock %}