{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1 class="header center">Your Information</h1>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="card-panel">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
        </div>
    </div>
</div>
    <ul>
        <li>
            <a href="{{ path('studentformone_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
