{% extends 'innerbase.html.twig' %}

{% block title %}New User{% endblock %}

{% block javascripts %} 
    <script>
        $(document).ready(function() {
            
            $( "label[for='user_roles_0']" ).prev().remove();
            $( "label[for='user_roles_1']" ).prev().remove();
            $( "label[for='user_roles_2']" ).prev().remove();
            $( "label[for='user_roles_3']" ).prev().remove();
            $( "label[for='user_roles_4']" ).prev().remove();

        });
    </script>
{% endblock %}


{% block body %}
    <h1 class="header center">Create New User</h1>
    <div class="section" id="nav-backBtn">
        <ul>
            <li>
                <a href="{{ path('user_index') }}" class="btn waves-effect waves-light button-back">Back to the list</a>
            </li>
        </ul>
    </div>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
            {{ form_start(new_form) }}
                {{ form_widget(new_form) }}
                <input type="submit" class="btn-large waves-effect waves-light landing-btn-color button-resize" value="Submit" />
            {{ form_end(new_form) }}
            </div>
        </div>
    </div>
{% endblock %}                