<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | Winthrop Internship Learning Engagement</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {#<link type="text/css" rel="stylesheet" href="../assets/css/materialize.min.css"  media="screen,projection"/>#}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../assets/js/materialize.min.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>