@font-face {
    font-family: "Roboto Bold";
    src: url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
    url('../fonts/roboto/Roboto-Bold.woff2') format('woff2');
}
@font-face {
    font-family: "Roboto Light";
    src: url('../fonts/roboto/Roboto-Light.woff') format('woff'),
    url('../fonts/roboto/Roboto-Light.woff2') format('woff2');
}
@font-face {
    font-family: "Roboto Medium";
    src: url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
    url('../fonts/roboto/Roboto-Medium.woff2') format('woff2');
}
@font-face {
    font-family: "Roboto Regular";
    src: url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/roboto/Roboto-Regular.woff2') format('woff2');
}
@font-face {
    font-family: "Roboto Thin";
    src: url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
    url('../fonts/roboto/Roboto-Thin.woff2') format('woff2');
}

body, html {
    height: 100%;
    font-family: "Roboto Thin", GillSans, Calibri, Trebuchet, sans-serif;
    margin:0;
    padding:0;
}
div {
    margin:0;
    padding:0;
}
