h1, h2, button, input {
    font-family: "Roboto Light", GillSans, Calibri, Trebuchet, sans-serif;
    color: #fff;
}

.center-text{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.center-text h1{
    font-size: 72px;
    width:75%;
    text-align: center;
    margin-bottom: 30px;
}

.center-text h2 {
    border: 1px solid #7ADEF9;
    border-radius: 40.5px;
    text-align:center;
    padding: 11px 45px;
    font-size: 52px;
}

/*
.transparent {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(16,57,85, 0.41);
    margin:0;
    padding:0;

}
 */

.login-page {
    background-color: rgba(65,86, 106, 0.76);
    display:flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    padding:15px 7px;
    width: 35%;

}

.login-page h1 {
    border: 1px solid #fff;
    font-size: 38px;
    width: 100%;
}

.login-page h2, input[type=submit]{
    border: none;
    border-radius: 0;
    background-color: #EB6F5D;
    font-size:30px;
    padding: 11px 45px;
    margin: 4px 0;
}

h2#reset-button {
    background-color: rgba(235,111, 93, 0.54);
}

.login-page form {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: 5px 0;
}

.login-page form input[type=email]{
    border-bottom: 1px solid #6F7477;
}

.login-page input:not([type="submit"]) {
    padding-left: 15px;
    color: #000;
}

input[type=submit]{
    margin-top:20px;
    color: #fff;
}

.login-page input::placeholder {
    color: #6F7477;
    font-size: 30px;

}

nav {
    background-color: #103A55;
}

.header {
    color:#4E4C4A;
}

.landing-btn-color{
    background-color: #EB6F5D;
}

.page-footer {
    background-color: #999999;
}

.btn-spacing-left {
    margin-left: 3px;
}

.btn-spacing-right {
    margin-right: 3px;
}

.save-btn-color {
    background-color: #4E4C4A;
}

.card-panel input {
    color: #606060;
}

label.required:after {
    content: " *";
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #9E3D2F;
}

.sidenav {
    background-color: #F3F2F2;
}

input[type=date]:not(.browser-default) {
    margin-top: 20px;
}

input[type=submit]{
    /*margin-top:20px;*/
    
    letter-spacing: 1px;
    padding-top: 0px;
    padding-right: 1rem;
    padding-bottom: 0px;
    padding-left: 1rem;
    color: #fff;
}

.button-resize{
    font-size: 18px;
}

.button-back{
    color: #222;
    background-color: #ffffff;
}
#nav-backBtn ul{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    padding-bottom:10px;
}
#nav-backBtn .btn:hover, #nav-backBtn .btn-large:hover, #nav-backBtn .btn-small:hover{
    background-color: #103a55;
    color: #ffffff;
}
#nav-backBtn:after {
  content: "";
  display: block;
  height: 20px;
  width: 100%;
}
#nav-backBtn li{
    display: inline;
    padding: 5px;
}

.sidenav li>a{
    height: auto;
}

