{% extends 'innerbase.html.twig' %}

{% block title %}Faculty Liaison List{% endblock %}

{% block javascripts %} 
    <script>
        $(document).ready(function() {
            $('#list').DataTable();
        
            $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>");
            $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            
            $(".paginate_button").click(function(){
                $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
                $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            });

            $(document).on('click', '.paginate_button', function(){
                $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
                $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            });

        });
    </script>
{% endblock %}

{% block body %}
    <h1 class="header center">Faculty Liaison List</h1>
    
    <div class="section" id="nav-backBtn">
        <ul>
            <li>
                <a href="{{ path('facultyliaisonlist_new') }}" class="btn waves-effect waves-light button-back">Add New Faculty Member</a>
            </li>
        </ul>
    </div>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table class="highlight striped responsive-table" id="list">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for facultyLiaisonList in facultyLiaisonLists %}
                        <tr>
                            <td>{{ facultyLiaisonList.name }}</td>
                            <td>{{ facultyLiaisonList.username }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('facultyliaisonlist_show', { 'id': facultyLiaisonList.id }) }}" class="waves-effect waves-light btn show">show</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>  
{% endblock %}
