{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1 class="header center">Site Supervisor Dataset</h1>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                {#<table>#}
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Completed Date</th>
                            <th>Organization Name</th>
                            {#<th>Email Address</th>#}
                            {#<th>Winthrop ID Number (CWID)</th>#}
                            {#<th>Internship Company Name</th>#}
                        </tr>
                    </thead>
                    <tbody>
                    {% for siteSupervisorForm in siteSupervisorForms %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ siteSupervisorForm.submitDate }}</td>
                            <td>{{ siteSupervisorForm.organizationName }}</td>
                            {#<td>{{ siteSupervisorForm.lastName }}</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
