{% extends 'base.html.twig' %}

{% block title %}Site Supervisor Form{% endblock %}

{% block body %}
    <div class="index-background-image">
		<div class="transparent">

			<div class="center-text">
    			<div class="login-page">
    			    <h1>Winthrop Internship Learning Experience</h1>
    			    
    			    <form action="{{ path('sitesupervisorform_new') }}" method="GET">
						<input type="email" name="email" placeholder="Email Address">
						<input type="password" name="accessCodeSS" placeholder="Access Code">
						<input type="submit" name="submit" value="Submit">
					</form>
   
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/styles.css">
{% endblock %}