{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1>Sitesupervisorform creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn-large waves-effect waves-light landing-btn-color button-resize" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('sitesupervisorform_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
