{% extends 'base.html.twig' %}

{% block body %}
<div class="index-background-image">
        <div class="center-text">
            <h1>Winthrop Internship Learning Engagement Portal</h1>
            <a><h2>Login</h2></a>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
{% endblock %}